<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Academic Organizer</title>

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}?v=10">
<link rel="stylesheet" href="{% static 'attendance.css' %}">
</head>

<body>

<!-- HEADER -->
<header>
  <div class="logo">BrainyCampus-🎓Student Academic Organizer</div>

  <nav>

    <a href="{% url 'home' %}">Home</a>

    <a href="#about">About</a>

    <a href="#features">Features</a>

    <a href="#contact">Contact</a>

    <!-- STAFF ONLY -->
    {% if request.user.is_staff %}

    <a href="{% url 'add_student' %}">
        Add Student
    </a>

    {% endif %}

</nav>

  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}">
    <button class="logout-btn">Logout</button>
  </a>
  {% endif %}
</header>

<!-- CONTENT -->
{% block content %}
{% endblock %}

<!-- FOOTER -->
<footer>
  BrainyCampus © 2026 | Academic Management System
</footer>

</body>
</html>